NEXT_PUBLIC_APP_URL=


# Database (Neon, Supabase, or local Postgres)
DATABASE_URL=

# Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=


# Integrations
CORSAIR_API_KEY=
CORSAIR_KEK=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NODE_ENV
NODE_ENV="development" # development | production